<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tonari.mapper.MemberMapper">  
  	<select id="emailCheck" parameterType="String" resultType="int">
  	select count(email) from member where email=#{email}
  </select>
  
  <select id="nickCheck" parameterType="String" resultType="String">
  	select count(nick) from member where nick=#{nick}
  </select>
  
  <insert id="insert">
   	<selectKey keyProperty="bno" order="BEFORE" resultType="int"> 
   		select member_seq.nextval from dual	  
   	</selectKey> 
  insert into member(bno, email, passwd ,sex, name,phone,nick,address,o_addr,gu, dong,zipcode) 
  	values 
  	(#{bno},#{email},#{passwd},#{sex}, #{name},#{phone},#{nick},#{address},#{o_addr},#{gu},#{dong},#{zipcode})
  </insert>
  
  
<!-- 로그인 -->
  <select id="login" resultType="com.tonari.domain.MemberVO">
    select nick, bno, dong from member
    where email = #{email} and passwd = #{passwd}
  </select>
<!-- 로그인 -->

 <!-- 개인정보 수정 -->
  <select id="selectMember" resultType="com.tonari.domain.MemberVO">
  select * from member where nick = #{nick}
  </select>
  
  	
	
<update id="studentinfoModify" parameterType="com.tonari.domain.MemberVO">
	update member set 
	nick = #{nick},
	phone = #{phone},
	address = #{address},
	zipcode = #{zipcode},
	gu = #{gu},
	dong = #{dong},
	o_addr = #{o_addr}
	where email = #{email} 
</update>
  
  
</mapper>
